.modal {
  position: fixed;
  top: 30vh;
  left: calc(50% - 15rem);
  width: 30rem;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  z-index: 100;
  border-radius: 7px;
}

.modal h2 {
  margin: 0;
  padding: 1rem;
  background: #76b5ec;
  color: white;
  border-radius: 7px 7px 0 0;
}

.modal p {
    padding: 1rem;
}

.modal__actions {
    display: flex;
    justify-content: flex-end;
    padding: 0 0.5rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}
/*------------------------------------------*/
.image-modal{
  display:none;
  position:fixed;
  z-index:1;
  padding-top:100px;
  left:0%;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgba(0,0,0,0.9);
}
.image-modal h3{
  color:white;
  cursor: pointer;
}
.image-modal .modal-container{
  text-align: center;
}

.edit-listing-modal{
  display:none;
  position:fixed;
  z-index:1;
  left:0%;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgba(0,0,0,0.9);
}
#edit-listing-closer{
  position: relative;
  top:100px;
  text-align: center;
  color:white;
  cursor: pointer;
  
}
